{% extends "inscripcion/base.html" %}

{% block  title %}
    Login
{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}inscripcion/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" id="formulario" method="post" action="">{% csrf_token %}
        <h2>Iniciar sesión</h2>
        <input type="text" name="username" value="" id="username" placeholder="Usuario" class="form-control" required
               autofocus>

        <input type="password" class="form-control" placeholder="Contraseña" required name="password" value=""
               id="password">

        <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar"></p>
        {% block error %}{% endblock %}
    </form>
{% endblock %}